body{
  background-color: #113840;
}

h1{
  color: white;
  font-size: 36px;
  text-align: center;
}

#map-canvas {
  border-style: outset;
  height: 500px;
  margin: auto;
  padding: 0;
  width: 100%;
}

.container {
  padding-bottom: 2em;
  width:100%;
}da