body {
	background: #202020;
}

h1 {
	color: white;
	text-align: center;
	font-family: Verdana;
	text-decoration: underline;
}

.question {
	color: #33CC66;
	font-family: Verdana;
	font-size: 24px;
	margin-left: 20px;
	margin-top: 50px;
}

.list {
	color: white;
	list-style: none;
	font-family: Verdana;
	font-size: 18px;
}

.item {
	margin: 10px;
}