.jumbotron {
	background-color: transparent;
}

.creature_name {
	color: green;
	font-size: 20px;
}

.create_creature {
	float: right;
	margin: 15px;
}

.homepage_link {
	float: left;
	margin: 15px;
}

#new_creature_submit_btn {
	float: right;
}