<div class="jumbotron">
	<div class="container text-center">
		<h1>Find out if you are cool...or a fool!</h1>
			<%= link_to "Enter if you dare", users_path %>
	</div>
</div>
<hr>
<div class="container">
	<div class="col-sm-10 col-sm-offset-1">
	<%= image_tag("dollhouse.png") %>		
			
		</div>
	</div>
</div>