#board {	
  	margin-top: 10px;
}
body{
	background-color: #EEFFF7;
}
.box {
  	border: 1px solid black;
  	height: 175px;
  	font-size: 125px;
  	font-weight: bold;
  	text-align: center;
  	font-family: 'Source Sans Pro', sans-serif;
  	background-color: white;
}
h1{
	font-size: 100px;
	font-weight: bold;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
	font-family: 'Source Sans Pro', sans-serif;
}
.reset-btn {
	margin: 40px 0 0 0;
	border: 3px solid black;
	border-radius: 0;
	font-size: 40px;
	font-weight: bold;
	padding: 0;
	background-color: #95BABA;
	font-family: 'Source Sans Pro', sans-serif;

}
.reset-btn:hover {
	background-color: #AFD4D4;
}
.turnLabel {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	font-weight: bold;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
	text-align: center;
	margin-top: 10px;
	background-color: #95BABA;

}
.turnDisplay {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:180px;
	font-weight: bold;
	text-align: center;
	border: 2px solid black;
	background-color: #AFD4D4;
}	
