<div class="jumbotron text-center">
  <h2>All the creatures</h2>
</div>
<% @creatures.each do |creature| %>
  <div>
    Name: <%= creature.name %>
    Description: <%= creature.description %>
  </div>
<% end %>
