<nav class="navbar">
  <a href="/" class="navbar-brand">
    <img src="http://i53.photobucket.com/albums/g42/sacentral/User_logos/storm_trooper.png" alt="bog_app" style="height: 30px">
  </a>
  <div class="jumbotron text-center">
    <h2>Creatures of the Bog</h2>
  </div>
</nav>



<div class="col-sm-6 col-sm-offset-3">
  <strong>Name:</strong> <%= @creature.name %> <br>
  <strong>Description:</strong> <%= @creature.description %> 
</div>