body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

ul {
	background-color: white;
	border-radius: 5px;
	border-left: -10px;
}

li {
	border-radius: 5px;
}

div.list-group-item {
	border-radius: 5px;
	font-size: 10px;
}

#submitComment {
	border-radius: 5px;
}

.try {
	border-radius: 5px;
}
.you {
	font-size: 10px;
}

img {
	border-radius: 5px;
}

div.panel-heading.tom {
	font-size: 18px;
	color: gray;
}

.commentPlace {
	font-size: 10px;
}

div.panel-heading.tom hr {
	background color: white;
	color: white;
	margin: 10px;
}

div.well.well-sm.you {
	margin: 0;
}

