body{
	background-size: 180px 120px;
	background-repeat: no-repeat;
}
ul {
	color: blue;
	text-align: center;
    font-size: large;
}
div {
	color: purple;
	text-align: center;
    font-size: large;
}
li {
	text-align: center;
	background-color: yellow;

}

.middle1 {
	background-color: red;
	position: left;
}
.right1 {
	background-color: orange;
	position: left;
}
.left2 {
	background-color: blue;
	position: left;
}
.middle2 {
	background-color: red;
	position: center;
}
.right2 {
	background-color: orange;
	position: right;
}